body {
    background-color: rgb(3, 28, 42);

}
.header {
    display: flex;
    background-color: rgb(69, 226, 95);
    justify-content: center;
    font-weight: 800;
    font-size: 40px;
    padding: 30px;
    margin: 0.8rem;
    border-radius: 10px;
}
p {
    display: flex;
    justify-content: center;
    background-color: rgba(28, 44, 186);
    color: rgb(89, 216, 153);
    padding: 10px;
    padding-left: 40px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 10px;

}
.buttonHolder {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem;
    align-content: center;
}
.results {
    display: flex;
    color: rgb(78, 13, 87);
    font-size: 1.8rem;
    font-weight: 550;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0.8rem;
    padding: 3rem;
    background-color: rgb(87, 231, 111);
    gap: 1rem;
    height: 4.5rem;
    border-radius: 10px;

}
.output{
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(82, 119, 240);
    border-radius: 15px;
    border: 3px solid rgb(45, 67, 137);
}
.outputWin {
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(240, 82, 119);
    border-radius: 15px;
    border: 6px solid rgb(45, 67, 137);
}
.outputLoose{
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(240, 211, 82);
    border-radius: 15px;
    border: 6px solid rgb(45, 67, 137);
}
.counter{
    align-self: flex-end;
    margin: 0, 2rem;
    display: flex;
    gap: 1rem;
}
.playersScore,
.computersScore{
    border: 3px solid rgb(23, 92, 94);
    font-size: 1.6rem;
    padding: 1rem;
    background-color: rgb(70, 210, 212);
    border-radius: 15px;
    align-items: center;

}
button {
    width: 350px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }